.navbar {
  display: flex;
  align-items: center;
  box-shadow: 6px 4px 15px 0px rgba(121, 121, 121, 0.75);
}
.scroll-nav {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  height: 60px;
  align-items: center;
}
li {
  margin: 0 20px;
  min-width: fit-content;
}